@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}


body{
    display: flex;justify-content: center;align-items: center;
    height: 100vh; flex-direction: column;background:#222;
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
 
}
.container{
     background:#000000d0; padding:30px; border-radius: 30px;
     max-width: 420px; width: 100%; margin:1em;
     color:#fff; 

}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    
}

.search button{
    margin:0.5em;
    border-radius: 50%;
    border: none;
    height: 46px;
    width: 46px;
    outline: 0;
    background: #7c7c7c2b;
    cursor: pointer;
    transition:0.2s ease-in-out;
}
.search button i{
    font-size: 16px;
    color:#fff;
}
.search button:hover{
    background:#7c7c7c5b;
}
.search .search-bar{
    outline: 0; border: none;
    padding:0.2em 1em;
    border-radius: 24px;
    background:#7c7c7c2b;
    color:#fff;
    font-family: inherit;
    font-size: 120%;
    width: calc(100% - 46px);
}
h2{
    margin-bottom: 20px;
}

h1.temp{
    margin: 0;
}
.description{
    text-transform: capitalize; margin-left: 8px;
}
.flex{display: flex; align-items: center;}

.humidity{margin-bottom: 10px;}

.weather.loading{
    max-height: 20px;
    position: relative;
    visibility: hidden;
}

.weather.loading:after{
    visibility: visible;
    content:"Loading...";
    color:#fff;
    position: absolute;
    top:0; left:20px;

} 